.Card-Body {
  width: 285px;
  height: 446px;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
}

.Card__Image {
  width: 100%;
  height: 301px;
  overflow: hidden;
}

.Card__Image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.Card__Content {
  background: #f4f5f7;
  height: 145px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Card__Content h2 {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 600;
  color: #3a3a3a;
}
.Card__Content h3 {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 600;
  color: #3a3a3a;
}

.Card__Content p {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  color: #898989;
}
