.Global-button {
  display: flex;
  max-width: 222px;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  background-color: var(--bg-secondary);
  padding: 25px 72px 25px 72px;
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color);
  cursor: pointer;
}
@media (max-width: 480px) {
  .Global-button {
    padding: 5px;
    width: 80px;
    font-weight: 400;
    font-size: 10px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .Global-button {
    padding: 15px 30px 15px 30px;
    width: 140px;
    font-size: 14px;
    font-weight: 500;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .Global-button {
    padding: 20px 52px 20px 52px;
    width: 180px;
  }
}
