.Furniro__Product-Container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.Card-Body {
  position: relative;
}
.Furniro__Product-Container h1 {
  padding-bottom: 30px;
}
.Card__On__Hover-Options {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: #ffffff;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 600;
  transition: opacity 0.3s ease;
}
.Card__On__Hover-Options .Global-button {
  cursor: pointer;
  background: #ffffff;
  padding: 0;
  width: 202px;
  height: 48px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 600;
  color: var(--bg-secondary);
  transition: ease-in 0.3s;
}
.Card__On__Hover-Content {
  cursor: pointer;
  height: 40px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.Card__On__Hover-Content-Span {
  display: flex;
  align-items: center;
  gap: 4px;
}
.Card__On__Hover-Content-Arrow {
  rotate: -45deg;
}
.Cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  text-align: left;
}
.Card-Body:hover .Card__On__Hover-Options {
  opacity: 1;
}
.Card__On__Hover-Options .Global-button:hover {
  color: #ffffff;
  background: var(--bg-secondary);
}
.Furniro__Product-Show-More .Global-button {
  padding: 10px 0;
  margin: 0 auto;
  background: none;
  border: 1px solid var(--bg-secondary);
  color: var(--bg-secondary);
  transition: ease 0.3s;
}
.Furniro__Product-Show-More .Global-button:hover {
  background: var(--bg-secondary);
  color: #ffffff;
}
@media (max-width: 599px) {
  .Furniro__Product-Container {
    max-width: 100%;
    padding: 10px;
  }
  .Furniro__Product-Container h1 {
    font-size: 25px;
  }

  .Cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .Card-Body {
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .Furniro__Product-Container {
    max-width: 1000px;
    padding: 20px;
  }

  .Cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .Card-Body {
    width: 100%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .Furniro__Product-Container {
    max-width: 1200px;
  }

  .Cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
  .Card-Body {
    width: 100%;
  }
}
@media (min-width: 1441px) {
  .Furniro__Product-Container {
    padding: 30px;
  }

  .Cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .Card-Body {
    width: 100%;
  }
}
